<a href="/logout" id="logout">Log out</a><br>
<div id="city">
    <div>These people from <span class="twocol">{{city}}</span>
        have signed the petition</div>
    {{#rows}}
        <li>
            {{first}}
            {{last}}
            {{age}}
        </li>
    {{/rows}}
<button onclick="window.location.href='/signers';">Go Back</button>
</div>