<h1>Sign our petition and end discrimination based on the payment method !</h1>  
<div id="login">     
              {{>errorM}}
    <div class="grid-container" id="login"> 
          <form  method="post" class="item1" id="loginform">  
         <h2>Welcome Back!</h2>
            <div class="field-wrap">
            <label>
              Email Address<span class="req">*</span>
            </label><br>
            <input type="email"required autocomplete="off" name="email"/>
          </div>
          <div class="field-wrap">
            <label>
           Password<span class="req">*</span>
            </label><br>
            <input type="password"required autocomplete="off" name="password"/>
          </div>

              <button type="submit" class="button"/>Log In</button>
              <div>Don't have an account yet?<a href="/register" style="color:#00d9a7;"> Register</a></div>
          </form>
          <img src="/stop.png" class="item2" id="imagePet" >
</div>

           