<div id="login">   
          <h1>Welcome Back!</h1>
              {{>errorM}}
          
          <form  method="post">
          
            <div class="field-wrap">
            <label>
              Email Address<span class="req">*</span>
            </label>
            <input type="email"required autocomplete="off" name="email"/>
          </div>
          <div class="field-wrap">
            <label>
           Password<span class="req">*</span>
            </label>
            <input type="password"required autocomplete="off" name="password"/>
          </div>

              <button type="submit" class="button"/>Log In</button>
          </form>

           <div>Don't have an account yet?<a href="/register"> Register</a></div>