<h2>Please sign our petition</h2>
<div class="wrapper">
<form
    method="POST"
    style="display: flex; flex-direction: column; justify-content: space-between; width: 40%; height: 50%;"
    class="item1"


    {{>errorM}}

    <canvas id="canvas" ></canvas>
    <input type="hidden" name="signature" id="signature"/>
    <div>
        <span>Sign here </span>
    </div>
    <button> submit </button>
    
</form>
 </div>
 <form action="/profile/edit"><button>Edit profile</button></form>
<script src="/script.js"></script>