            <a href="/logout" id="logout">Log out</a><br>
<div class="grid-container">
    <div id="pofileform"  class="item1">
          <h1>Tell us more about yourself</h1>
              {{>errorM}}
          <form method="post" id="profile">
          
          
            <div class="field-wrap">
              <label>
               Age<span class="req">*</span>
              </label><br>
              <input type="text" autocomplete="off" name="age" min="" max=""/>
            </div>
        
            <div class="field-wrap">
              <label>
               City<span class="req">*</span>
              </label><br>
              <input type="text" autocomplete="off" name="city"/>
            </div>
 
          <div class="field-wrap">
            <label>
            URL<span class="req">*</span>
            </label><br>
            <input type="url" autocomplete="off" name="url"/>
          </div>
          
          <button type="submit" class="button"/>Submit</button>

          </form>
          
          <button onclick="window.location.href='/petition';">Skip</button>
</div>
<img src="/profile.png" class="item2" id="imagePet" >
</div>
