      <div class="tab-content">
        <h1>Sign our petition and end discrimination based on the payment method!</h1>  
              {{>errorM}}
              <div class="grid-container" id="register">
            <form method="post" class="item1" id="registerform">
             <h2>Sign Up</h2>
            <div class="field-wrap">
              <label>
                First Name<span class="req">*</span>
              </label><br>

              <input type="text" required autocomplete="off" name="firstname"/>
            </div>
        
            <div class="field-wrap">
              <label>
                Last Name<span class="req">*</span>
              </label><br>
              <input type="text"required autocomplete="off" name="lastname"/>
            </div>

          <div class="field-wrap">
            <label>
              Email Address<span class="req">*</span>
            </label><br>
            <input type="email" required autocomplete="off" name="email"/>
          </div>
          
          <div class="field-wrap">
            <label>
              Set A Password<span class="req">*</span>
            </label><br>
            <input type="password"required autocomplete="off" name="password"/>
          </div>
          
          <button type="submit" class="button"/>Get Started</button>
             <div>Already have an account?<a href="/login" style="color:#00d9a7;"> Log In</a></div>
          </form>
       

          <img src="/stop.png" class="item2" id="imagePet" >
   </div>

              