      <div class="tab-content">
        <div id="signup">   
          <h1>Sign Up</h1>
              {{>errorM}}
              <div class="grid-container" id="register">
          <form method="post" class="item1" id="registerform">
 
            <div class="field-wrap">
              <label>
                First Name<span class="req">*</span>
              </label><br>

              <input type="text" required autocomplete="off" name="firstname"/>
            </div>
        
            <div class="field-wrap">
              <label>
                Last Name<span class="req">*</span>
              </label><br>
              <input type="text"required autocomplete="off" name="lastname"/>
            </div>

          <div class="field-wrap">
            <label>
              Email Address<span class="req">*</span>
            </label><br>
            <input type="email" required autocomplete="off" name="email"/>
          </div>
          
          <div class="field-wrap">
            <label>
              Set A Password<span class="req">*</span>
            </label><br>
            <input type="password"required autocomplete="off" name="password"/>
          </div>
          
          <button type="submit" class="button"/>Get Started</button>
             <div>Already have an account?<a href="/login"> Log In</a></div>
          </form>
       

          <img src="/Flat Colorful Illustration Cashless Payment Instagram Story.png" class="item2" id="imagePet" width="450" height="650">
   </div>

              