<h2>Thank you for your signature</h2>
<div><img src="{{userSig}} " id="imageSign" width="500" height="600" /></div>
<div><a href="/signers">View all people who have signed this petition</a></div>
<div>{{total}} people have signed the petition</div>