<a href="/logout" id="logout">Log out</a><br />

<div id="thanks">
    <h1 class="multicolor">Thank you for your signature {{first}}❣️ </h1>
    <div><img src="{{userSig}} " id="imageSign" /></div>
    <div id="allsigners"><a href="/signers">View all people who have signed this
            petition</a></div>
    <div id="total"><span
            style="font-size: 50px; color:#00d9a7;"
        >{{total}}</span>
        people have signed the petition</div>
    <form action="/profile/edit"><button>Edit profile</button></form>
    <form method="post" action="/signature/delete"><button>Delete Signature</button></form>
    <img src="/thanks.png" class="item2" id="imagePet" >
</div> 

