* {
    box-sizing: border-box;
    background-color: #fff8ea;
}

body {
    color: #002677;
    position: relative;
    background-color: #fff8ea;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    padding: 10px;
}

.item1 {
    grid-column: 1;
    grid-row: 1;
}
.item2 {
    grid-column: 2 / span 2;
}


#canvas {
    border: 5px solid #73bfff;
    border-style: dotted;
}

#imageSign {
    border: 5px solid #73bfff;
    border-style: dotted;
    width: 340px;
    height: 200px;
}

/* form input,
form div,
form button {
    margin: 13px;
}

form div {
    font-size: 22px;
}

footer {
    position: absolute;
    bottom: 0;
} */

button {
    width: 150px;
    height: 35px;
    background-color: #00d9a7;
    margin: 10px;
    border: none;
}
